#calculator {
  width: 95%;
  font-family: "Raleway", sans-serif;
  padding: 35px 0px;
  margin: 0px auto;
}

#input {
  display: flex;
  justify-content: center;
}

.input {
  border-radius: 5px;
  text-align: center;
}

::-moz-placeholder {
  /* Firefox 19+ */
  text-align: center;
}

.input-tag {
  display: flex;
  font-size: 23px;
  padding: 3px 5px;
  text-align: center;
  justify-content: center;
  background-color: lightgray;
  border-radius: 5px;
  border: 0.5px solid lightslategrey;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  row-gap: 2rem;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  padding-top: 40px;
}

.card {
  display: grid;
  grid-gap: 0px;
  grid-template-areas:
    "info info info"
    "info info info"
    "name name name";
  grid-template-columns: 200px 100px 100px;
  grid-template-rows: 200px 100px 100px;
  background-color: aquamarine;
  width: 400px;
  height: 400px;
  border: 0.8px solid blueviolet;
  border-radius: 15px;
  box-shadow: 10px 10px 10px -7px rgba(0, 0, 0, 0.37);
}

.card-info {
  grid-area: info;
  grid-template-areas:
    "number number scale"
    "number number scale"
    "number number scale";
  grid-template-columns: 55% 15% 30%;
  grid-template-rows: 50% 25% 25%;
  display: grid;
  margin: 0px;
  padding: 0px;
  width: 400px;
  border-bottom: 1px solid black;
}

@import url("https://fonts.googleapis.com/css2?family=Recursive:wght@600&display=swap");

.card p {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 80px;
}

.card-number {
  grid-area: number;
  font-family: "Recursive", sans-serif;
  border-right: 3px dashed blue;
  overflow: auto;
}

.card-scale {
  grid-area: scale;
  padding-right: 10px;
  font-family: "Recursive", sans-serif;
}

.card-scale-name {
  grid-area: name;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 29px;
}
